@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color1: #9854CB;
    --bg-color2: #FFFFFF;
    --font-color: #f2f2f2;
}

header {
    display: flex;
}

.off-screen-menu {
    padding: 20px 0px;
    background: var(--bg-color1);
    height: 100vh;
    width: 100%;
    max-width: 250px;
    position:fixed ;
    top: 0;
    left: -250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    transition: .3s ease;
}

.off-screen-menu ul {
    padding: 80px 0;
    list-style: none;
}

.off-screen-menu ul li {
    padding: 15px 0;
    margin: 5px 0;
}

.off-screen-menu ul li a {
    text-decoration: none;
    color: #f2f2f2;

}

.off-screen-menu.active {
    left: 0;
}

nav {

    display: grid;
    background: linear-gradient(to right, #FFFFFF, #9854CB);
    width: 100%;
    grid-template-columns: 0.1rem 1fr 3fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    height: 110px;

}

nav .wrap {
    padding: 1rem ;
    height: 100%;
    width: 100px;
    background-color: #9854CB;
    z-index: 9999;
    position: relative;
}

.wrap.active {
    background-color: transparent;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ham {
    height: 50px;
    width: 50px;
    position: relative;
    background: transparent;
}



.faqs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.faqs:nth-child(3){
    margin-right: 10rem;
}

.faqs img, p {
    margin: 0 5px;
}


.ham span {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}



.ham span:nth-child(1) {
    top: 50%;
}

.ham span:nth-child(3) {
    top: 75%;
}

.ham.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.ham.active span:nth-child(2) {
    opacity: 0;
}

.ham.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}


